nav img {
    width: 150px;
}

.bg-base {
    background-color: #F3E9F1;
}

.imgTeddy {
    width: 200px;
}


.divTeddies, .divTeddy {
    margin: 10px auto;
    padding: 10px;
    border: solid #e8b573 1px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.divTeddies:hover {
    transition: 200ms;
    transform: scale(1.02);
}

.divTeddies p, .divTeddy p {
    width: 100%;
}

.divTeddies img, .divTeddy img {
    margin: 0 auto 5px;
}

.divTeddies a, .divTeddy a {
    margin: auto;
}

button{
    margin: auto;
}